

@font-face {
  font-family: 'Ubuntu-B';
  font-style: normal;
  font-weight: bold;
  src: url(Ubuntu-B.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-BI';
  font-style: italic;
  font-weight: bold;
  src: url(Ubuntu-BI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-C';
  font-style: normal;
  font-weight: normal;
  src: url(Ubuntu-C.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-L';
  font-style: normal;
  font-weight: lighter;
  src: url(Ubuntu-L.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-LI';
  font-style: italic;
  font-weight: lighter;
  src: url(Ubuntu-LI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-M';
  font-style: normal;
  font-weight: normal;
  src: url(Ubuntu-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-MI';
  font-style: italic;
  font-weight: normal;
  src: url(Ubuntu-MI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-R';
  font-style: normal;
  font-weight: normal;
  src: url(Ubuntu-R.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-RI';
  font-style: italic;
  font-weight: normal;
  src: url(Ubuntu-RI.ttf) format('truetype');
}


@font-face {
  font-family: 'UbuntuMono-B';
  font-style: normal;
  font-weight: bold;
  src: url(UbuntuMono-B.ttf) format('truetype');
}
@font-face {
  font-family: 'UbuntuMono-BI';
  font-style: italic;
  font-weight: bold;
  src: url(UbuntuMono-BI.ttf) format('truetype');
}
@font-face {
  font-family: 'UbuntuMono-R';
  font-style: normal;
  font-weight: normal;
  src: url(UbuntuMono-R.ttf) format('truetype');
}
@font-face {
  font-family: 'UbuntuMono-RI';
  font-style: italic;
  font-weight: normal;
  src: url(UbuntuMono-RI.ttf) format('truetype');
}

