.bg-red {
  background-color: $red !important;
}
.bg-pink {
  background-color: $pink !important;
}
.bg-purple {
  background-color: $purple !important;
}
.bg-deep-purple {
  background-color: $purple !important;
}
.bg-indigo {
  background-color: $indigo !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-cyan {
  background-color: $cyan !important;
}
.bg-teal {
  background-color: $teal !important;
}
.bg-light-green {
  background-color: $green !important;
}
.bg-green {
  background-color: $green !important;
}
.bg-lime {
  background-color: $lime !important;
}
.bg-yellow {
  background-color: $yellow !important;
}
.bg-amber {
  background-color: $amber !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-deep-orange {
  background-color: $deep-orange !important;
}
.bg-brown {
  background-color: $brown !important;
}
.bg-grey {
  background-color: $grey !important;
}
.bg-white {
  background-color: $white !important;
}