.primary-text-dark {
  color: $primary-text-dark !important;
}
.secondary-text-dark {
  color: $secondary-text-dark !important;
}
.hint-text-dark {
  color: $hint-text-dark !important;
}
.divider-dark {
  color: $divider-dark !important;
}

.primary-text-light {
  color: $primary-text-light !important;
}
.secondary-text-light {
  color: $secondary-text-light !important;
}
.hint-text-light {
  color: $hint-text-light !important;
}
.divider-light {
  color: $divider-light !important;
}