// Responsive visibility utilities
@each $bp in map-keys($sg-grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}

// Clearfix
.clearfix {
  @include clearfix();
}

// Help classes
.no-shadow { box-shadow: none !important; }

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }
.pull-right          { float: right !important; }
.pull-left           { float: left !important; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// NG
.ng-hide             { display: none; }
